.footer {
  background-color: var(--dark-gray);
}
.footer__logo {
  display: flex;
  font-family: "Raleway";
  font-style: normal;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $main-blue;
  /* margin-top: 60px; */
  margin-bottom: 0px;
  padding-top: 60px;
  padding-bottom: 20px;
}
.footer .footer__logo .footer__studio {
  color: $white;
}

.container .footer__list {
  display: flex;
  padding-bottom: 60px;
}
.footer__address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $white;
}
.footer__address .footer__mail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__mail:hover {
  color: $main-blue;
}
.footer__mail:focus {
  color: $main-blue;
}
.footer__address .footer__tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__tel:hover {
  color: $main-blue;
}
.footer__tel:focus {
  color: $main-blue;
}
