.footer__socialmedia-list {
  display: flex;
  gap: 10px;
}
.footer__socialmedia-list .footer__icon {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__socialmedia {
  padding-left: 70px;
  margin-top: 72px;
}

.footer__socialmedia-header {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white;
  margin-bottom: 20px;
}
.footer__socialmedia-item {
  fill: $white;
}
.footer__icon:hover {
  background-color: $main-blue;
  cursor: pointer;
}
.footer__icon:focus {
  background-color: $main-blue;
}
